<div class="card">
  <img src="<%= image_src %>" alt="<%= alt_text %>">
  <div class="card-body">
    <h5 class="card-title mb-0"><%= title %></h5>
    <p class="card-text"><%= author %></p>
    <p class="card-text"><%= description %></p>
    <a href="<%= link %>" class="btn btn-primary detail-view">詳細を見る</a>
  </div>
</div>