<div class="slide-sidebar position-fixed bg-white <%= 'show' if @form_slide_open %>" id="postSlideSidebar">
  <div class="container p-4">
    <h2 class="fs-3 mb-2">リストの投稿</h1>
    <% if @todo&.errors&.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @todo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with(model: @todo, url: create_todo_path, local: true) do |f| %>
      <fieldset class="form-group mb-2">
        <%= f.label :title, "タイトル", class: 'form-label' %>
        <%= f.text_field :title, class: 'form-control', placeholder: "タイトル" %>
      </fieldset>
      <fieldset class="form-group mb-2">
        <%= f.label :description, "リストの概要", class: 'form-label' %>
        <%= f.text_area :description, rows: 3, class: 'form-control', placeholder: "例：沖縄県のおすすめのスポットをまとめました。" %>
      </fieldset>
      <h3 class="fs-6">リスト</h3>
      <div id="todo_lists">
        <%= f.fields_for :todo_lists do |todolist_form| %>
          <div class="card mb-2 placeholder-card">
            <div class="card-body">
              <p class="card-text">まだリストが追加されていません。</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="input-group flex-nowrap mb-3">
        <input type="text" name="query" id="query" placeholder="場所を検索" class="form-control" aria-describedby="addon-wrapping">
        <span id="search-button" class="btn btn-primary input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div id="search-result" class="position-fixed position-fixed bottom-0 end-0 me-3">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">検索結果</span>
    </a>
    <div id="search-result-list" class="list-group list-group-flush border-bottom scrollarea">
    </div>
  </div>
</div>