<%= render 'shared/icons' %>
<main class="d-flex flex-nowrap">
  <nav class="d-flex flex-column flex-shrink-0 p-3 z-3 bg-white" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <span class="fs-4">Title</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" id="listToggle">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          リスト一覧
        </a>
      </li>
      <% if logged_in? %>
        <li class="nav-item post-list-toggle">
          <a href="#" class="nav-link" id="listToggle">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            リストの投稿
          </a>
        </li>
      <% end %>
    </ul>
    <%= debug(params) if Rails.env.development? %>
    <hr>
    <% if logged_in? %>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <%= gravatar_for current_user, size: 32 %>
          <strong><%= current_user.name %></strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item post-list-toggle" href="#">リストの投稿</a></li>
          <li><a class="dropdown-item" href="#">設定</a></li>
          <li><a class="dropdown-item" href="#">プロフィール</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "ログアウト", logout_path, class: "dropdown-item", data: { "turbo-method": :delete } %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
    <% end %>
  </nav>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <div id="map"></div>
  <script>
    (g => {
      var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => {
        await (a = m.createElement("script"));
        e.set("libraries", [...r] + "");
        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
        e.set("callback", c + ".maps." + q);
        a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
        d[q] = f;
        a.onerror = () => h = n(Error(p + " could not load."));
        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
        m.head.append(a)
      }));
      d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
      key: "<%= ENV["GMAP_API_KEY"] %>", v: "beta"
    });
  </script>
</main>
<%= javascript_include_tag "custom/map", :defer => "defer" %>
<%= javascript_include_tag "custom/sidebar", :defer => "defer" %>
<%= render partial: "shared/slide", locals: { todos: @todos } %>
