<!DOCTYPE html>
<html>
<head>
  <title>TeamTora</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render 'shared/icons' %>
  <main class="d-flex flex-nowrap">
    <nav class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-4">Title</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link" id="listToggle">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            リスト一覧
          </a>
        </li>
        <!-- 他のリスト項目 -->
      </ul>
      <%= debug(params) if Rails.env.development? %>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#" id="postListToggle">リストの投稿</a></li>
          <li><a class="dropdown-item" href="#">設定</a></li>
          <li><a class="dropdown-item" href="#">プロフィール</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">サインアウト</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </main>
  <div class="slide-sidebar" id="slideSidebar">
  <div class="container">
    <h3>リスト一覧</h3>

    <!-- 検索バーを追加 -->
    <div class="search-bar">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="検索" aria-label="検索">
        <button class="btn btn-outline-success" type="submit">検索</button>
      </form>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="名古屋のレストラン">
          <div class="card-body">
            <h5 class="card-title mb-0">名古屋のおすすめのレストラン</h5>
            <p class="card-text">ユーザーA</p>
            <p class="card-text">名古屋のおすすめのレストランをまとめました。</p>
            <a href="#" class="btn btn-primary detail-view">詳細を見る</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="名古屋のレストラン">
          <div class="card-body">
            <h5 class="card-title mb-0">名古屋のおすすめのレストラン</h5>
            <p class="card-text">ユーザーA</p>
            <p class="card-text">名古屋のおすすめのレストランをまとめました。</p>
            <a href="#" class="btn btn-primary detail-view">詳細を見る</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="名古屋のレストラン">
          <div class="card-body">
            <h5 class="card-title mb-0">名古屋のおすすめのレストラン</h5>
            <p class="card-text">ユーザーA</p>
            <p class="card-text">名古屋のおすすめのレストランをまとめました。</p>
            <a href="#" class="btn btn-primary detail-view">詳細を見る</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide-sidebar" id="postSlideSidebar">
  <div class="container">
    <h1>リストの投稿</h1>
    <div class="search-bar">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="検索" aria-label="検索">
        <button class="btn btn-outline-success" type="submit">検索</button>
      </form>
    </div>
    <form>
      <div class="mb-3">
        <label for="listTitle" class="form-label">リストの概要</label>
        <div><textarea class="form-control" id="listTitle" rows="10" placeholder="例：沖縄県のおすすめのスポットをまとめました。"></textarea></div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">場所</label>
        <div><textarea class="form-control" id="location" rows="3" placeholder="例：沖縄県"></textarea></div>
      </div>
      <div class="mb-3">
        <label for="listImage" class="form-label">写真</label>
        <div><input type="file" class="form-control" id="listImage"></div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">投稿</button>
      </div>
    </form>
  </div>
</div>
<div class="slide-sidebar" id="detailSlideSidebar">
  <div class="container">
    <h1 class="mb-4 text-center">リスト登録</h1>
    
    <div class="mb-3">
      <h2 class="h4">タイトル</h2>
      <p>名古屋のおすすめレストラン</p>
    </div>

    <div class="mb-3">
      <h2 class="h4">ユーザー名</h2>
      <p>ユーザー1</p>
    </div>

    <div class="mb-3">
      <h2 class="h4">概要</h2>
      <p>名古屋駅周辺のおすすめのレストランを3個まとめました。</p>
    </div>

    <div class="mb-3">
      <h2 class="h4">場所</h2>
      <ul class="list-unstyled">
        <li>ガスト名古屋駅前店</li>
        <li>バーミヤン名古屋駅前店</li>
        <li>マック名古屋駅前店</li>
      </ul>
    </div>

    <div class="mb-3">
      <h2 class="h4">写真</h2>
      <div class="row">
        <div class="col-4">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="レストラン1" class="img-fluid">
        </div>
        <div class="col-4">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="レストラン2" class="img-fluid">
        </div>
        <div class="col-4">
          <img src="https://sakurayama.nagoya/wp-content/uploads/2018/10/img_5769-e1538973165405.jpg" alt="レストラン3" class="img-fluid">
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary mt-4">登録</button>
  </div>
</div>
  <%= javascript_include_tag "custom/sidebar", defer: "defer" %>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&libraries=maps&callback=initMap" defer></script>
  <%= javascript_include_tag "custom/map", defer: "defer" %>
</body>
</html>
